 .u-section-1 {
  background-image: url("images/fff-min1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 672px;
}

.u-section-1 .u-group-1 {
  width: 768px;
  min-height: 252px;
  height: auto;
  margin: 226px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 25px 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 300;
  font-family: "Playfair Display", serif;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 21px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 718px;
  margin: 21px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 73px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 20px 10px 30px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 0 auto;
  padding: 12px 84px 12px 83px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 72px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 30px 10px 20px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 9px 88px 9px 87px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-1 .u-group-1 {
    width: 651px;
    margin-top: 151px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-group-1 {
    width: 568px;
    min-height: 279px;
    margin-top: 236px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 5px;
    padding-bottom: 23px;
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 83px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 83px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 20px 10px 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    font-weight: 700;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 75px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 75px;
  }
} .u-section-2 {
  background-image: url("images/fgfgfggggggggg-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1276px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 420px;
  height: auto;
  margin: 53px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  margin: 2px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 300;
  line-height: 1.4;
  font-size: 1.25rem;
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-list-1 {
  width: 784px;
  margin: -8px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 751px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-size: 1rem;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  font-size: 1rem;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  font-size: 1rem;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-text-10 {
  font-style: italic;
  font-size: 1rem;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-text-12 {
  font-style: italic;
  font-size: 1rem;
  margin: 25px 0 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 70px;
  width: 70px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 16px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-2 .u-text-14 {
  font-style: italic;
  font-size: 1rem;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 57.83% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-2 .u-group-1 {
    width: 470px;
    margin-top: 48px;
    height: auto;
  }

  .u-section-2 .u-list-1 {
    width: 658px;
    margin-bottom: 48px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-position: 63.65% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1305px;
  }

  .u-section-2 .u-list-1 {
    width: 662px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 862px;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 72.4% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1461px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 982px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1130px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 890px;
  margin: 65px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 700px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-3 .u-slider-1 {
  min-height: 630px;
  height: auto;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 40px;
}

.u-section-3 .u-carousel-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 18px 0;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  margin: 5px 80px 0;
}

.u-section-3 .u-image-1 {
  height: 460px;
  width: 300px;
  margin: 12px auto 0 80px;
}

.u-section-3 .u-image-2 {
  height: 460px;
  width: 303px;
  margin: -460px auto 0;
}

.u-section-3 .u-image-3 {
  height: 460px;
  width: 300px;
  margin: -460px 80px 0 auto;
}

.u-section-3 .u-carousel-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 80px;
}

.u-section-3 .u-text-3 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-3 .u-image-4 {
  height: 460px;
  width: 300px;
  margin: 13px auto 0 0;
}

.u-section-3 .u-image-5 {
  height: 460px;
  width: 303px;
  margin: -460px auto 0;
}

.u-section-3 .u-image-6 {
  height: 460px;
  width: 300px;
  margin: -460px 0 0 auto;
}

.u-section-3 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 67px 27px;
}

.u-section-3 .u-text-4 {
  font-size: 3.75rem;
  margin: 19px 13px 0;
}

.u-section-3 .u-image-7 {
  height: 460px;
  width: 300px;
  margin: 13px auto 0 13px;
}

.u-section-3 .u-image-8 {
  height: 460px;
  width: 303px;
  margin: -460px auto 0;
}

.u-section-3 .u-image-9 {
  height: 460px;
  width: 300px;
  margin: -460px 13px 0 auto;
}

.u-section-3 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  background-image: none;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1007px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 84px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 41px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 727px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 632px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 253px;
    margin-left: 72px;
  }

  .u-section-3 .u-image-2 {
    width: 253px;
  }

  .u-section-3 .u-image-3 {
    width: 253px;
    margin-right: 72px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-image-4 {
    width: 253px;
    margin-left: 13px;
  }

  .u-section-3 .u-image-5 {
    width: 253px;
  }

  .u-section-3 .u-image-6 {
    width: 253px;
    margin-top: -467px;
    margin-right: 13px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 65px;
    padding-left: 60px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-7 {
    width: 253px;
    margin-left: 9px;
  }

  .u-section-3 .u-image-8 {
    width: 253px;
  }

  .u-section-3 .u-image-9 {
    width: 253px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 661px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 628px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-slider-1 {
    min-height: 611px;
    width: 719px;
    margin-right: -57px;
    margin-bottom: -13px;
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    width: auto;
    margin-top: 11px;
    margin-right: 85px;
    margin-left: 80px;
  }

  .u-section-3 .u-image-1 {
    height: 260px;
    width: 100%;
    margin-top: 617px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: -864px;
    margin-left: 91px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 91px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 80px;
    padding-right: 80px;
  }

  .u-section-3 .u-text-3 {
    font-size: 3rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    margin-right: 13px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 60px;
    padding-left: 55px;
  }

  .u-section-3 .u-text-4 {
    font-size: 3rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-3 .u-image-7 {
    margin-top: 5px;
    margin-left: 34px;
  }

  .u-section-3 .u-image-9 {
    margin-right: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1954px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 661px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 572px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 38px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 589px;
    margin-right: 29px;
  }

  .u-section-3 .u-image-2 {
    height: 365px;
    width: 192px;
    margin-top: -827px;
    margin-left: 22px;
  }

  .u-section-3 .u-image-3 {
    height: 365px;
    width: 192px;
    margin-top: -365px;
    margin-right: 18px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-4 {
    margin-top: 22px;
    margin-left: 0;
  }

  .u-section-3 .u-image-6 {
    margin-top: -453px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1592px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 808px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-slider-1 {
    min-height: 796px;
    margin-bottom: -18px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 13px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 164px;
    margin-top: -43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 290px;
    width: 300px;
    margin-top: 330px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    height: 290px;
    width: 300px;
    margin-top: -607px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 0 20px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -24px;
  }

  .u-section-3 .u-image-4 {
    height: 283px;
    margin-top: 14px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-5 {
    height: 283px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-6 {
    height: 283px;
    margin-top: -300px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.25rem;
    margin-top: 43px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 283px;
    margin-top: 36px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-8 {
    height: 283px;
    margin-top: -283px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-9 {
    height: 283px;
    margin-top: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1130px;
}

.u-section-4 .u-text-1 {
  width: 890px;
  font-weight: 700;
  margin: 91px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  width: 890px;
  font-weight: 400;
  margin: 32px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 700px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-4 .u-image-1 {
  height: 630px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.2);
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
}

.u-section-4 .u-layout-cell-2 {
  min-height: 700px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 0;
}

.u-section-4 .u-slider-1 {
  min-height: 630px;
  height: auto;
  box-shadow: 0 0 8px 0 rgba(128,128,128,1);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 40px;
}

.u-section-4 .u-carousel-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 40px 80px 45px;
}

.u-section-4 .u-image-2 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.0625rem;
  line-height: 2.2;
  margin: 20px auto 0 0;
}

.u-section-4 .u-carousel-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 40px 80px 45px;
}

.u-section-4 .u-image-3 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.0625rem;
  line-height: 2.2;
  margin: 20px auto 0 0;
}

.u-section-4 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 40px 80px 45px;
}

.u-section-4 .u-image-4 {
  height: 332px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.0625rem;
  line-height: 2.2;
  margin: 20px auto 0 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 56px;
  height: 56px;
  left: 0;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  width: 56px;
  height: 56px;
  left: auto;
  position: absolute;
  background-image: none;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1007px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 624px;
  }

  .u-section-4 .u-image-1 {
    height: 554px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 577px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 549px;
  }

  .u-section-4 .u-image-2 {
    height: 251px;
  }

  .u-section-4 .u-image-3 {
    height: 251px;
  }

  .u-section-4 .u-image-4 {
    height: 251px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1722px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 740px;
  }

  .u-section-4 .u-image-1 {
    height: 669px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 612px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 2px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 596px;
    margin-top: 20px;
    margin-bottom: -35px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
    padding-right: 85px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-2 {
    height: 260px;
    width: 100%;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-3 {
    height: 260px;
    width: 100%;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 260px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1954px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 754px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    height: 704px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 705px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 642px;
    margin-bottom: -41px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-4 .u-image-2 {
    height: 360px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-4 .u-image-3 {
    height: 360px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 75px;
    padding-right: 75px;
  }

  .u-section-4 .u-image-4 {
    height: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1592px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 528px;
  }

  .u-section-4 .u-image-1 {
    height: 478px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 639px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 575px;
    margin-bottom: -35px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-2 {
    height: 260px;
    width: auto;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-image-3 {
    height: 260px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-4 {
    height: 260px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1070px;
}

.u-section-5 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-5 .u-products-1 {
  grid-template-columns: repeat(6, auto);
  margin-top: 89px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 15.3333px));
  min-height: 718px;
  margin-top: 0;
  margin-bottom: 0;
  grid-gap: 23px;
}

.u-section-5 .u-repeater-item-1 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 0 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 247px;
  margin: 11px 57px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1rem;
  padding-left: 25px;
  margin: 11px 11px 0 49px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 7px 50px 0 45px;
}

.u-section-5 .u-btn-1 {
  --radius: 50px;
  margin: 22px auto 0 101px;
  padding: 6px 20px;
}

.u-section-5 .u-repeater-item-2 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 0 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 247px;
  margin: 11px 57px 0;
}

.u-section-5 .u-text-6 {
  font-size: 1rem;
  padding-left: 25px;
  margin: 11px 11px 0 49px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 7px 50px 0 45px;
}

.u-section-5 .u-btn-2 {
  --radius: 50px;
  margin: 22px auto 0 101px;
  padding: 6px 20px;
}

.u-section-5 .u-repeater-item-3 {
  background-image: none;
  box-shadow: 0 0 12px 0 rgba(128,128,128,0.55);
  --radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 0 0;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 247px;
  margin: 11px 57px 0;
}

.u-section-5 .u-text-9 {
  font-size: 1rem;
  padding-left: 25px;
  margin: 11px 11px 0 49px;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 7px 50px 0 45px;
}

.u-section-5 .u-btn-3 {
  --radius: 50px;
  margin: 22px auto 0 101px;
  padding: 6px 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 46px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-5 .u-text-4 {
    width: 266px;
    margin-right: 37px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 90px;
    margin-left: 54px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 46px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-5 .u-text-7 {
    width: 266px;
    margin-right: 37px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 90px;
    margin-left: 54px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 46px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-5 .u-text-10 {
    width: 266px;
    margin-right: 37px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 90px;
    margin-left: 54px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.5px));
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 13px;
    margin-right: -8px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 5px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 13px;
    margin-right: -8px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 5px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 13px;
    margin-right: -8px;
    margin-left: 9px;
  }

  .u-section-5 .u-text-10 {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 0;
    margin-left: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-7 {
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 365px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  margin: 75px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-6 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 19px auto 60px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-3 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 442px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  margin: 65px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 42px;
  margin-bottom: 14px;
}

.u-section-7 .u-layout-cell-1 {
  --radius: 50px;
  min-height: 285px;
}

.u-section-7 .u-container-layout-1 {
  padding: 18px 0 6px;
}

.u-section-7 .u-image-1 {
  height: 166px;
  object-position: 50% 13.69%;
  width: 166px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 10px auto 0 97px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  --radius: 50px;
  min-height: 285px;
}

.u-section-7 .u-container-layout-2 {
  padding: 18px 0 6px;
}

.u-section-7 .u-image-2 {
  height: 166px;
  object-position: 50% 13.69%;
  width: 166px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 10px auto 0 97px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-7 .u-layout-cell-3 {
  --radius: 50px;
  min-height: 285px;
}

.u-section-7 .u-container-layout-3 {
  padding: 18px 0 6px;
}

.u-section-7 .u-image-3 {
  height: 166px;
  object-position: 50% 13.69%;
  width: 166px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 10px auto 0 97px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 283px;
  }

  .u-section-7 .u-image-3 {
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-bottom: 10px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-7 .u-image-1 {
    height: 187px;
    width: 187px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 17px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 324px;
  }

  .u-section-7 .u-image-2 {
    height: 187px;
    width: 187px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 16px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 324px;
  }

  .u-section-7 .u-image-3 {
    height: 187px;
    width: 187px;
    margin-top: 0;
  }

  .u-section-7 .u-text-4 {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    font-size: 3rem;
    margin-top: 46px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 34px;
    margin-bottom: 56px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 329px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 328px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 12px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 22px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 327px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-7 .u-text-4 {
    margin-top: 22px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 31px;
    font-size: 1.875rem;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 100%;
    margin: 36px 0 29px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 9px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 294px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 6px;
  }

  .u-section-7 .u-image-2 {
    height: 186px;
    width: 186px;
    margin-top: 19px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 12px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 298px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-7 .u-image-3 {
    height: 186px;
    width: 186px;
    margin-top: 12px;
  }

  .u-section-7 .u-text-4 {
    margin-top: 6px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 385px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  --radius: 50px;
  min-height: 286px;
}

.u-section-8 .u-container-layout-1 {
  padding: 18px 0 6px;
}

.u-section-8 .u-image-1 {
  height: 166px;
  object-position: 50% 13.69%;
  width: 166px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 11px auto 0 97px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-8 .u-layout-cell-2 {
  --radius: 50px;
  min-height: 286px;
}

.u-section-8 .u-container-layout-2 {
  padding: 18px 0 6px;
}

.u-section-8 .u-image-2 {
  height: 166px;
  object-position: 50% 13.69%;
  width: 166px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 11px auto 0 97px;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px auto 0;
}

.u-section-8 .u-layout-cell-3 {
  --radius: 50px;
  min-height: 286px;
}

.u-section-8 .u-container-layout-3 {
  padding: 18px 0 6px;
}

.u-section-8 .u-image-3 {
  height: 166px;
  object-position: 50% 13.69%;
  width: 166px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 11px auto 0 97px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 53px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-8 .u-image-1 {
    margin-left: auto;
  }

  .u-section-8 .u-text-1 {
    width: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 282px;
  }

  .u-section-8 .u-image-2 {
    margin-left: auto;
  }

  .u-section-8 .u-text-2 {
    width: auto;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 282px;
  }

  .u-section-8 .u-image-3 {
    margin-left: auto;
  }

  .u-section-8 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 344px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 316px;
  }

  .u-section-8 .u-image-1 {
    height: 187px;
    width: 187px;
    margin-top: 0;
  }

  .u-section-8 .u-text-1 {
    margin-top: 21px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-8 .u-image-2 {
    height: 186px;
    width: 186px;
    margin-top: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: 22px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 316px;
  }

  .u-section-8 .u-image-3 {
    height: 186px;
    width: 186px;
    margin-top: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1037px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 344px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 319px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 298px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 291px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 15px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 291px;
  }

  .u-section-8 .u-text-3 {
    margin-top: 15px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 391px;
}

.u-section-9 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-9 .u-list-1 {
  margin-top: 43px;
  margin-bottom: 21px;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 8px));
  min-height: 201px;
  grid-auto-columns: calc(20% - 8px);
  grid-gap: 10px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
  --radius: 25px;
}

.u-section-9 .u-container-layout-1 {
  padding: 9px 10px;
}

.u-section-9 .u-image-1 {
  height: 127px;
  object-position: 50% 13.69%;
  width: 127px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 14px auto 0;
}

.u-section-9 .u-text-2 {
  margin: 7px auto 0;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
  --radius: 25px;
}

.u-section-9 .u-container-layout-2 {
  padding: 9px 10px;
}

.u-section-9 .u-image-2 {
  height: 127px;
  object-position: 50% 13.69%;
  width: 127px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 14px auto 0;
}

.u-section-9 .u-text-3 {
  margin: 7px auto 0;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
  --radius: 25px;
}

.u-section-9 .u-container-layout-3 {
  padding: 9px 10px;
}

.u-section-9 .u-image-3 {
  height: 127px;
  object-position: 50% 13.69%;
  width: 127px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 14px auto 0;
}

.u-section-9 .u-text-4 {
  margin: 7px auto 0;
}

.u-section-9 .u-list-item-4 {
  background-image: none;
  --radius: 25px;
}

.u-section-9 .u-container-layout-4 {
  padding: 9px 10px;
}

.u-section-9 .u-image-4 {
  height: 127px;
  object-position: 50% 13.69%;
  width: 127px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 14px auto 0;
}

.u-section-9 .u-text-5 {
  margin: 7px auto 0;
}

.u-section-9 .u-list-item-5 {
  background-image: none;
  --radius: 25px;
}

.u-section-9 .u-container-layout-5 {
  padding: 9px 10px;
}

.u-section-9 .u-image-5 {
  height: 127px;
  object-position: 50% 13.69%;
  width: 127px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 14px auto 0;
}

.u-section-9 .u-text-6 {
  margin: 7px auto 0;
}

.u-section-9 .u-list-item-6 {
  background-image: none;
  --radius: 25px;
}

.u-section-9 .u-container-layout-6 {
  padding: 9px 10px;
}

.u-section-9 .u-image-6 {
  height: 127px;
  object-position: 50% 13.69%;
  width: 127px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 14px auto 0;
}

.u-section-9 .u-text-7 {
  margin: 7px auto 0;
}

.u-section-9 .u-list-item-7 {
  background-image: none;
  --radius: 25px;
}

.u-section-9 .u-container-layout-7 {
  padding: 9px 10px;
}

.u-section-9 .u-image-7 {
  height: 127px;
  object-position: 50% 13.69%;
  width: 127px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 14px auto 0;
}

.u-section-9 .u-text-8 {
  margin: 7px auto 0;
}

.u-section-9 .u-list-item-8 {
  background-image: none;
  --radius: 25px;
}

.u-section-9 .u-container-layout-8 {
  padding: 9px 10px;
}

.u-section-9 .u-image-8 {
  height: 127px;
  object-position: 50% 13.69%;
  width: 127px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 14px auto 0;
}

.u-section-9 .u-text-9 {
  margin: 7px auto 0;
}

.u-section-9 .u-list-item-9 {
  background-image: none;
  --radius: 25px;
}

.u-section-9 .u-container-layout-9 {
  padding: 9px 10px;
}

.u-section-9 .u-image-9 {
  height: 127px;
  object-position: 50% 13.69%;
  width: 127px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 14px auto 0;
}

.u-section-9 .u-text-10 {
  margin: 7px auto 0;
}

.u-section-9 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 4px;
}

.u-section-9 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 44px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 0;
  }

  .u-section-9 .u-image-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-2 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-3 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-4 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-5 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-6 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-7 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-8 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-9 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 90px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1067px;
}

.u-section-10 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-10 .u-list-1 {
  margin-top: 65px;
  margin-bottom: 31px;
  grid-template-rows: repeat(1, auto);
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 855px;
  grid-gap: 10px;
}

.u-section-10 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/image-11.png');
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-10 .u-group-1 {
  min-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-10 .u-text-2 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-10 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/image-7.png');
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-10 .u-group-2 {
  min-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-10 .u-text-4 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-5 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-10 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/image-2.png');
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-10 .u-group-3 {
  min-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-10 .u-text-6 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-7 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-10 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('images/image-12.png');
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-7 {
  padding: 30px 0;
}

.u-section-10 .u-group-4 {
  min-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-10 .u-text-8 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-9 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-10 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/hh5.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-9 {
  padding: 30px 0;
}

.u-section-10 .u-group-5 {
  min-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-container-layout-10 {
  padding: 30px 20px;
}

.u-section-10 .u-text-10 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-11 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-10 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/jhjh688.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-11 {
  padding: 30px 0;
}

.u-section-10 .u-group-6 {
  min-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-10 .u-container-layout-12 {
  padding: 30px 20px;
}

.u-section-10 .u-text-12 {
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-13 {
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 704px;
  }

  .u-section-10 .u-group-1 {
    height: auto;
  }

  .u-section-10 .u-group-2 {
    height: auto;
  }

  .u-section-10 .u-group-3 {
    height: auto;
  }

  .u-section-10 .u-group-4 {
    height: auto;
  }

  .u-section-10 .u-group-5 {
    height: auto;
  }

  .u-section-10 .u-group-6 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1225px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1410px;
  }

  .u-section-10 .u-list-1 {
    margin-top: 30px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1162px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2561px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2313px;
  }

  .u-section-10 .u-group-1 {
    margin-top: 192px;
  }

  .u-section-10 .u-group-2 {
    margin-top: 192px;
  }

  .u-section-10 .u-group-3 {
    margin-top: 192px;
  }

  .u-section-10 .u-group-4 {
    margin-top: 192px;
  }

  .u-section-10 .u-group-5 {
    margin-top: 192px;
  }

  .u-section-10 .u-group-6 {
    margin-top: 192px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 570px;
}

.u-section-11 .u-layout-wrap-1 {
  margin: 70px auto 70px 0;
}

.u-section-11 .u-layout-cell-1 {
  background-image: none;
  min-height: 277px;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-11 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 24px 0 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.5rem;
  margin: 40px 0 0;
}

.u-section-11 .u-layout-cell-2 {
  background-image: none;
  min-height: 237px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-11 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 23px auto 0 0;
}

.u-section-11 .u-icon-1 {
  height: 100%;
}

.u-section-11 .u-icon-2 {
  height: 100%;
}

.u-section-11 .u-icon-3 {
  height: 100%;
}

.u-section-11 .u-icon-4 {
  height: 100%;
}

.u-section-11 .u-text-4 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-11 .u-layout-cell-3 {
  background-image: none;
  min-height: 476px;
}

.u-section-11 .u-container-layout-3 {
  padding: 30px;
}

.u-section-11 .u-text-5 {
  font-size: 2.25rem;
  text-transform: none;
  margin: 0;
}

.u-section-11 .u-form-1 {
  height: 334px;
  margin: 32px -60px 0 0;
}

.u-section-11 .u-input-1 {
  height: 55px;
}

.u-section-11 .u-input-2 {
  height: 55px;
}

.u-section-11 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  background-image: none;
  width: 100%;
  letter-spacing: 1px;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-11 .u-text-2 {
    position: relative;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-11 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}